{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="hero small-hero">
    <h1>Contact Us 📞</h1>
    <p>Send us your message</p>
</div>

<div class="cards">

    <div class="card">
        <form action="https://formspree.io/f/xreynger" method="POST">

            <input type="text" name="name" placeholder="Your Name" required><br><br>

            <input type="email" name="email" placeholder="Your Email" required><br><br>

            <textarea name="message" placeholder="Your Message" required></textarea><br><br>

            <button type="submit">Send Message</button>

        </form>
    </div>

</div>

{% endblock %}
