{% extends 'base.html' %}

{% block title %}Important Questions{% endblock %}

{% block content %}

<div class="hero small-hero">
    <h1>Important Questions ⭐</h1>
</div>

<div class="cards">

    <div class="card">
        <h3>📘 Maths RD Sharma</h3>
        <a href="https://drive.google.com/file/d/1jVN7NM_I0DjcUnvAuLJVrKSQnoh8j5Th/view" target="_blank">
            View PDF
        </a>
    </div>

    <div class="card">
        <h3>🔬 Science Questions</h3>
        <a href="https://drive.google.com/drive/folders/18DqLUPiFpmGQurpJL3dsbU8B22ufEbyh" target="_blank">
            Open Folder
        </a>
    </div>

</div>

{% endblock %}
