<!DOCTYPE html>
<html>
<head>
    <title>Important Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Important Questions ⭐</h1>

<ul>
    <li>
        <a href="https://drive.google.com/file/d/1jVN7NM_I0DjcUnvAuLJVrKSQnoh8j5Th/view" target="_blank">
            📘 Maths RD Sharma Class 10th
        </a>
    </li>

    <li>
        <a href="https://drive.google.com/drive/folders/18DqLUPiFpmGQurpJL3dsbU8B22ufEbyh" target="_blank">
            🔬 Science Extra Questions
        </a>
    </li>
</ul>

<a href="/">Back</a>

</body>
</html>
