<!DOCTYPE html>
<html>
<head>
    <title>Important Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <h2>CBSE Study Hub</h2>
    <div>
        <a href="/">Home</a>
        <a href="/notes">Notes</a>
        <a href="/important">Important</a>
        <a href="/papers">Papers</a>
        <a href="/contact">Contact</a>
    </div>
</div>

<!-- Hero Section -->
<div class="hero small-hero">
    <h1>Important Questions ⭐</h1>
    <p>Practice important questions for exams</p>
</div>

<!-- Cards Section -->
<div class="cards">

    <div class="card">
        <h3>📘 Maths RD Sharma</h3>
        <a href="https://drive.google.com/file/d/1jVN7NM_I0DjcUnvAuLJVrKSQnoh8j5Th/view" target="_blank">
            View PDF
        </a>
    </div>

    <div class="card">
        <h3>🔬 Science Questions</h3>
        <a href="https://drive.google.com/drive/folders/18DqLUPiFpmGQurpJL3dsbU8B22ufEbyh" target="_blank">
            Open Folder
        </a>
    </div>

</div>

<!-- Footer -->
<div class="footer">
    <p>© 2026 CBSE Study Hub</p>
</div>

</body>
</html>
