<!DOCTYPE html>
<html>
<head>
    <title>CBSE Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <h2>📘 CBSE Study Hub</h2>
    <div>
        <a href="/">Home</a>
        <a href="/notes">Notes</a>
        <a href="/important">Important</a>
        <a href="/papers">Papers</a>
        <a href="/contact">Contact</a>
    </div>
</div>

<!-- Heading -->
<div class="hero small-hero">
    <h1>📚 CBSE Notes</h1>
    <p>Choose your subject</p>
</div>

<!-- Cards Section -->
<div class="cards">

    <!-- Maths -->
    <div class="card">
        <h3>📘 Maths</h3>
        <p>All chapter notes</p>
        <a href="https://drive.google.com/drive/folders/1i_YDb4Bez9-OfKD-mqZB9syC3Fc5qDraUvb2BNvyDA0oZ9wGQvqeHIdgbcsZDfZOma-A41wL" target="_blank">Open</a>
    </div>

    <!-- Science -->
    <div class="card">
        <h3>🔬 Science</h3>
        <p>Physics, Chemistry, Biology</p>
        <a href="https://drive.google.com/drive/folders/1_W5UDtLqejAwxbBXcDlOhMr4nxElyAOr" target="_blank">Open</a>
    </div>

    <!-- SST -->
    <div class="card">
        <h3>🌍 SST</h3>
        <p>History, Civics, Geography</p>
        <a href="https://drive.google.com/drive/folders/1Yzccu5Xfw0JYX61YXrN67c9X8DSQgKT1" target="_blank">Open</a>
    </div>

</div>

<!-- Footer -->
<div class="footer">
    <p>Made by Divyansh 💻 | Class 10 CBSE</p>
</div>

</body>
</html>
