{% extends 'base.html' %}

{% block title %}Notes{% endblock %}

{% block content %}

<div class="hero small-hero">
    <h1>CBSE Notes 📚</h1>
    <p>Download subject-wise notes</p>
</div>

<div class="cards">

    <div class="card">
        <h3>📘 Maths Notes</h3>
        <a href="https://drive.google.com/drive/folders/1i_YDb4Bez9-OfKD-mqZB9syC3Fc5qDraUvb2BNvyDA0oZ9wGQvqeHIdgbcsZDfZOma-A41wL" target="_blank">
        View Notes
    </a>
    </div>

    <div class="card">
        <h3>🔬 Science Notes</h3>
        <a href="https://drive.google.com/drive/folders/1_W5UDtLqejAwxbBXcDlOhMr4nxElyAOr" target="_blank">
        View Notes
    </a>
    </div>

    <div class="card">
        <h3>📖 SST Notes</h3>
       <a href="https://drive.google.com/drive/folders/1Yzccu5Xfw0JYX61YXrN67c9X8DSQgKT1" target="_blank">
        View Notes
    </a>
    </div>

</div>

{% endblock %}
